h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eee;
  margin: 8px 0;
}

  .content {
    background: #424242;
    height: 100vh;
    width:  100vw;

  }

  .container-content {
    background-color: #3a3a3aa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #FFEB3B;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;

  }

  .registro-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;


  }

  .line-b {
    border-bottom: 1px solid #FFEB3B !important;
  }

  .button {
    border-radius: 3px;
  }

  .form-button {
    background-color: rgba(255, 235, 59, 0.24);
    border-color: rgba(255, 235, 59, 0.24);
    color: #e6e6e6;
  }

  .form-button:hover,
  .form-button:focus,
  .form-button:active,
  .form-button.active,
  .form-button:active:focus,
  .form-button:active:hover,
  .form-button.active:hover,
  .form-button.active:focus {
    background-color: rgba(255, 235, 59, 0.473);
    border-color: rgba(255, 235, 59, 0.473);
    color: #e6e6e6;
  }

  .button-l {
    width: 100% !important;
  }


  .form-control,
.border-line {
  background-color: #5f5f5f;
  background-image: none;
  border: 1px solid #424242;
  border-radius: 1px;
  color: #e6e6e6;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
.border-line:focus {
  border-color: #FFEB3B;
  background-color: #616161;
  color: #e6e6e6;
}
.form-control,
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }


.text-c {
  text-align: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}