<div class="content" role="main">
  <app-menu></app-menu>
  <div class = "registro-container text-c animated flipInX">
    <h3 class="text-whitesmoke">Ingreso por compras</h3>
    <div class ="container-content">
        <select class="form-control" [(ngModel)]="elegido"  >
          <option value="0">Seleccionar Producto</option>
          <option [value]="producto.idProducto" *ngFor="let producto of productos">{{producto.nombre}}</option>
        </select>
        <form action="">
          <div class="form-group">
            <div>
                <p>
                <p><input type="number" placeholder="Cantidad del producto" class="form-control" name="cantidad"  required [(ngModel)]="producto.stock" > </p>
                <p><input type="number" placeholder="Precio compra" class="form-control" name="precioCompra" required [(ngModel)]="producto.precioCompra"> </p>
                <p><input type="number" placeholder="Precio venta" class="form-control" name="precioVenta" required [(ngModel)]="producto.precioVenta" > </p>
                <button (click)="editar()" class="form-button button-l margin-b">Registrar</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>