<div class="content" role="main">
  <app-menu></app-menu>
  <div class="productos">
    <h2>Manejo de productos</h2>
    <div class="container-content">
      <div class="divider"></div>
      <button type="submit" (click)= "Compra()" class="form-button button-l margin-b">Ingreso por compras</button>
      <div class="divider"></div>
      <button type="submit" (click)= "Venta()" class="form-button button-l margin-b">Egreso por ventas</button>
      <div class="divider"></div>
      <button type="submit" (click)= "ConsultaP()" class="form-button button-l margin-b">Consulta de productos</button>
      <div class="divider"></div>
      <button type="submit" (click)= "EliminarP()" class="form-button button-l margin-b">Eliminar producto</button>
    </div>
  </div>
</div>