<div class="content" role="main">
  <app-menu></app-menu>
  <div class="productos-container text-c animated flipInX">
    <h2>Egreso por ventas</h2>
    <div class="container-content">
      <div class="form-group">
        <div class ="table table-hover mitabla" >
          <select  class="form-control" [(ngModel)]="elegido"  >
            <option value="0">Seleccionar Producto</option>
            <option [value]="producto.idProducto" *ngFor="let producto of productos">{{producto.nombre}}</option>
          </select>
          <div class="divider"></div>
            <div>
                <input placeholder="Cantidad a retirar" type="number" min="1" class="form-control" name="nuevo" required [(ngModel)]="producto.stock">
                <br> <br>  <br>
                <button (click)="Actualizar()" class="form-button button-l margin-b">Actualizar</button>

       </div>
        </div>
      </div>

    </div>

  </div>