<app-menu></app-menu>
<div class="content" role="main">
  
  <img  src="./assets/imagen.png" width="101.678" height="101.678" class="imagen" >
  
  <br>
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

   

    <span>Egreso por ventas</span>

    

  </div>
   <div class = "productos">
    <div class ="table table-hover mitabla" >
     <select  [(ngModel)]="elegido"  >
       <option value="0">Seleccionar Producto</option>
       <option [value]="producto.idProducto" *ngFor="let producto of productos">{{producto.nombre}}</option>
       </select>
       
   </div>
</div>

     <div class ="formulario">
          <div>
              <p>Cantidad a retirar: <input type="number" min="1" class="form-control" name="nuevo" required [(ngModel)]="producto.stock"> </p>
              <br> <br>  <br>
              
              <button (click)="Actualizar()" class="btn btn-success">Actualizar</button>
          </div>
     </div>

  </div>