<div class="content" role="main">
    <app-menu></app-menu>
    <div class = "registro-container text-c animated flipInX">
      <h3 class="text-whitesmoke">Cambio de contraseña</h3>
      <div class ="container-content">
         <form #formRegistro="ngForm">
          <div class="form-group">
            <input type="text" autocomplete="off" placeholder="Usuario" class="form-control" name="usuario" [(ngModel)]="persona.usuario" required>
            <div class="divider"></div>
            <input type="password" placeholder="Nueva Contraseña" class="form-control" name="contrasena" [(ngModel)]="persona.contrasena" required>
            <div class="divider"></div>
    
              <p></p>
              <button class="form-button button-l margin-b" (click)="login()" >Cambiar contraseña</button>
          </div>
        </form>
      </div>
    </div>